<tr>  
  <% if friendship.user == @user %>
    <td><%= friendship.friend.name %></td>
    <td><%= friendship.friend.email %></td>
    <td><%= time_ago_in_words friendship.created_at %></td>
    <td>
  <% else %>
    <td><%= friendship.user.name %></td>
    <td><%= friendship.user.email %></td>
    <td><%= time_ago_in_words friendship.created_at %></td>
    <td>
  <% end -%>
    
  <% if friendship.acceptance == true %>
    <%= link_to 'Unfriend', 
      friendships_path(:id => friendship),
      :method => :delete,
      :data => { :confirm => 'Are you sure?'},
      :class => 'btn btn-secondary' 
    %>
  <% else %>
    <%if friendship.friend == @user %>
      <%= link_to 'Accept', 
        friendships_path(:id => friendship),
        :method => :put,
        :class => 'btn btn-secondary' 
      %>
    <% end -%>  
    <%= link_to 'Cancel', 
      friendships_path(:id => friendship),
      :method => :delete,
      :data => { :confirm => 'Are you sure?'},
      :class => 'btn btn-secondary' 
    %>
  <% end -%>  
</tr>